.header {
    background: white;
}

.header__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
}

.header__pages {
    margin: 0 0 0 $l-size;
    flex-grow: 8;
}

.header__pages-item {
    text-decoration: none;
    color: white;
    margin: 0 0 0 $l-size;
}

.header__cart {
    flex-grow: 1;
}

.ui.menu .item>.label {
    position: absolute;
    left: 35px;
    bottom: 34px;
}

.menu-sidebar{
    top: 57px !important;
}

.ui.overlay.sidebar {
    z-index: 1 !important;
}