.results {
    left: 0 !important;
    
}

.search > .ui > input {
    padding-right: 0 !important;
    @media (max-width: $desktop-breakpoint) {
        width: 120px !important;
    }
}

.search-input {
    padding: 9px;
    @media (max-width: $desktop-breakpoint) {
        margin: 0 auto;
    }
}