.idea
.aws-sam/
client/node_modules/
client/build/
backend/functions/order-manager/node_modules/
node_modules/
be-stack.json
COPYING.txt
favicon.ico
LICENSE
news.md
AWS/
Azure/
sam_packaged.yml
sam.py
DVSA.code-workspace
